<html>
	<head><title>Product Listing</title></head>
	<body>

		<script>
		dataLayer = [{
		  "ecommerce": {
		    "impressions": [{	// Optional. Dynamic.
			"name": "Product One",	// Required. Dynamic. String value.
			"id": "1000",	// Required. Dynamic. String value.
			"price": "10.00",	// Required. Dynamic. String value.
			"brand": "BioTrust",	// Required. Dynamic. String value.
			"quantity":"1",
			"list": "Prod Listing"
		      }, {
			"name": "Product Two",	// Required. Dynamic. String value.
			"id": "2000",	// Required. Dynamic. String value.
			"price": "25.00",	// Required. Dynamic. String value.
			"brand": "BioTrust",	// Required. Dynamic. String value.
			'quantity': '1'
			"list": "Prod Listing"
		    }]
		  }
		}];
		</script>

		<!-- Google Tag Manager -->
		<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7W7RQ"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-P7W7RQ');</script>
		<!-- End Google Tag Manager -->


		Product Listing. Please click a link below:

		<ul>
			<li><a href="http://www.thesteigers.com/prodpage1.html">Product 1</a></li>
			<li><a href="http://www.thesteigers.com/prodpage2.html">Product 2</a></li>
		</ul>
	</body>
</html>
